/* style for the entire page */
/* center the page */
/* shrink the page to fit the content */

body {
  text-align: center;
  /* add a gap at the top of the page */
  margin-top: 50px;

}

/* style for the submit, new chat, and archive buttons */
#submit, #new-chat, #archive {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #555555; /* Dark Gray */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* add a gap at the top and bottom of the button */
  margin: 5px 0;
  /* align the button with the textbox */
  vertical-align: top;
}

a#branch-button:hover, #submit:hover, #new-chat:hover, #archive:hover, #conversation:hover {
  background-color: #333333; /* Darker Gray */
}

/* style for branch button */
a#branch-button, #conversation {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #555555; /* Dark Gray */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* add a gap at the top and bottom of the button */
  margin: 5px 0;
  /* align the button with the textbox */
  vertical-align: top;
}

a#branch-button:hover,  #conversation:hover {
  background-color: #333333; /* Darker Gray */
}

/* style for user input textbox */
/* make sure the textbox is the same height as the button */
#user-input {
  width: 300px;
  height: 24px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  margin: 5px 0;
  /* align the textbox  with the button */
  vertical-align: top;
}

/* style for chat tree */
#chat-tree {
  max-width: 800px;
  max-height: 300px;

  overflow-y: auto;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  /* left align the text */
  text-align: left;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  margin-top: 10px;
  /* center the chat tree */
  margin-left: auto;
  margin-right: auto;
}
